In [1]:
from finance.client import Client
from finance.client.data_classes.accounts import Account

In [2]:
c = Client()

In [3]:
c.accounts.list()

                        name country_code    label_id        id
0             Chase Checking          USA    0de1ed51  882b8dca
1              Chase Savings          USA    0de1ed51  605096bb
2             Marcus Savings          USA    0de1ed51  9c4b0e97
3          SpareBank Savings          NOR    0de1ed51  22d775cd
4              SpareBank BSU          NOR   dedicated  cb6a7a36
5            SpareBank Debit          NOR    0de1ed51  6c0037c1
6                  Optum USA          USA   Dedicated  cc237820
7       Siemens Savings Plan          USA   long-term  affe99d7
8   Wealthfront Cash Account          USA    0de1ed51  463a9896
9            SpareBank Debit          NOR    0de1ed51  45eff094
10                 Optum USA          USA    12c5ff9b  00d7ccc8
11      Siemens Savings Plan          USA    4fe0e2d2  e19d859a

In [4]:
c.accounts.delete(ids=['affe99d7'])

AttributeError: 'AccountsAPI' object has no attribute 'delete'

In [ ]:
spare_debit_update = Account(name='SpareBank Debit', country_code='NOR', label_id='0de1ed51')
optum_update = Account(name='Optum USA', country_code='USA', label_id='12c5ff9b')
siemens_savings_update = Account(name='Siemens Savings Plan', country_code='USA', label_id='4fe0e2d2')

updates = [spare_debit_update, optum_update, siemens_savings_update]